.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card-flex {
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #282c34;
  padding:10px;
  color: gray
}

.footer {
  background-color: antiquewhite;
  color: gray;
  padding: 20px;
  text-align: center;
  background-image: 
    url('https://i1.pickpik.com/photos/547/179/737/times-square-new-york-city-nyc-preview.jpg');
  background-position: top center, bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.notfoundstyling {
  text-align: center;
  margin-top: 50px;
}

.notfoundstyling h1 {
  color: gray;
}

.index-page {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: 
    url('https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?cs=srgb&dl=pexels-francesco-ungaro-281260.jpg&fm=jpg');
  background-position: top center, bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
